<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.13.3" targetFramework="net35" />
  <package id="Selenium.WebDriver" version="3.13.1" targetFramework="net35" />
  <package id="Selenium.WebDriver.ChromeDriver" version="100.0.4896.6000" targetFramework="net35" />
</packages>